@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600&display=swap');
* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    outline: none;
    border: none;
    box-sizing: border-box;
}
body {

    background-color: #f1f1f1;

}

.loader {
    display: flex;
    height: 100vh;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.loader img {
    height: 80vh;
}

.home-container  {
    background-image: linear-gradient(rgba(50, 49, 49, 0.6), rgba(27, 27, 27, 0.75)), url("./assets/background.jpg");    
    background-attachment:fixed;
    background-repeat: no-repeat;
    background-size: cover;
    height: 95vh;
    justify-content: center;
}

.navbar {
    padding: 10px;
    /* margin-top: 10px; */
    height: 10vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.navbar a {
    cursor: pointer;
    color: #fff;    
    margin: 25px;
}

.navbar a:hover {
    color: yellow;
}

.logo {
    margin-top: 20px;
    margin-right: 50px;
}

.main-text {
   margin: 20px;
   padding: 25px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* background-color: red; */
    height: 40vh;
}
.main-text h1 {
    text-align: justify;
    font-size: 3.2rem;
    color: #fff;
    
}
.main-text span {
    color: yellow;

}

.targets-container{
    margin: 20px;
    display: flex;
    padding: 10px;
    border-radius: 10px;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    width:20vw;
}

.form-container {
    border-radius: 15px;
    margin: 2rem;
    display: flex;
    align-items: center;
    gap: 20px;
    background-color: #fff;
}
.input-controller{
    margin: 20px;
}
.input-controller p{
    text-align: center;
    font-weight: bold;
    font-size: 1.5rem;
    
}
.input-controller input{
    text-align: center;
    border-radius: 15px;
    width: 15vw;
    height: 5vh;
    border: 2px solid black;
    background-color: white;
    color: black;
    /* font-size: 1.5rem; */

}

.btn-form {
    font-size: 1rem;
    margin-left: 20px;
    cursor: pointer;
    width: 10vw;
    border-radius: 20px;
    padding: 10px;
    background-color: #29d9d5;
    color: #fff;
}
.btn-form:hover {
    color: #111;
    background: #fff;
    outline-style: solid;
    outline-color: #29d9d5;
}

.row-content {
    margin-top: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 60px;
}
.row-content img{
    border-radius: 20px;
    margin: 2em;
    width: 600px;
    height: 65vh;  
    background-attachment:fixed;
    background-repeat: no-repeat;
    background-size: cover;
}

.content-whyFly h3 {
    margin-bottom: 10px;
    margin-top: 10px;
    font-size: 1.5rem;
    color: #26b4fe;
}
.content-whyFly h5 {
    margin-top: 10px;
    color: #111;
    font-size: 1.3rem;
    text-align: justify;
}


.col-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* background-color: blue; */
    padding: 30px;
    height: 65vh;
}

.col-content h1 {
    text-align: center;
    margin-bottom: 10px;
    font-size: 2.2rem;
}

.col-content li {
    font-size: 1.1rem;
    text-align: justify;
    margin-bottom: 12px;
}

.col-content h2 {
    text-align: center;
    justify-content: center;
    font-size: 1.5rem;
    margin-top: 15px;

}

.col-content p {
    margin-top: 10px;
    font-size: 1.7rem;
    text-align: center;
    color: #26b4fe;
    font-weight: bold;

}

.col-content button {
    font-size: 1rem;
    margin-top: 15px;
    cursor: pointer;
    width: 20vw;
    align-items: center;
    border-radius: 20px;
    padding: 10px;
    background-color: #29d9d5;
    color: #fff;
}

.blog-container {
    margin: 20px;
    text-align: center;
}
.blog-container h1 {
    margin-top: 50px;
    font-size: 3rem;
}


.row-blogs {
    margin-top: 60px;
    display: flex;
    justify-content: space-around;
    gap: 30px;
}

.card-blog-content {
    background-color: #fff;
    border-radius: 20px;
    height: 70vh;
    width: 30vw;
    /* background-color: red; */
    padding: 10px;
    margin-bottom: 10vh;
    overflow: hidden;
    text-overflow: ellipsis;
    outline-width: 2px;
}
.card-blog-content p {
    /* background-color: yellow; */
    font-size: 1.2rem;
    text-align: start;
    text-overflow: ellipsis;
    color: #a8a8a8;
}
.card-blog-content img {
    border-radius: 20px;
    width: 100%;
    height: 40vh;
    background-attachment:fixed;
    background-repeat: no-repeat;
    background-size: cover;

}

.card-blog-content h3 {
    font-size: 1.5rem;
    text-align: start;
    margin-bottom: 10px;
}
.promotions-container {
    text-align: center;
    margin-top: 110px;
}
.promotions-container h1 {
    margin-bottom: 35px;
    font-size: 2.7rem;
}

.cards {
    display: flex;
}

.card-promotion {
    width: 40%;
    position: relative;
    border-radius: 20px;
    margin: 20px;
    background-color: #fff;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.card-promotion  img {
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    width: 100%;
    height: 60%;
    transition: 0.3s ease-in-out;
    overflow: hidden;
}
.card-promotion:hover img {
    transform: scale(1.1);
   
}
.card-promotion h2 {
    /* background-color: red; */
    width: 22vw;
    text-overflow: ellipsis;
    overflow: hidden;
    color: #fff;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 20%;
}

.card-promotion h2:hover {
    color: yellow;
    cursor: pointer;
}
.card-promotion button {
    border-radius: 20px;
    height: 10%;
    width: 30%;
    margin-left: 20px;
    margin-right: 20px;
    background-color: #292929;
    color: #fff;
    cursor: pointer;
    margin-top: 30px;
}
.card-promotion h3 {
    font-size: 1.8rem;
}
.card-promotion p {
    margin-top: 10px;
}

.card-promotion .gradient {
    position: absolute;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    height: 60%;
    top: 0;
    width: 100%;
    opacity: 0.2;
    background-color: #292929;
}

.promotion-button {
    border-radius: 20px;
    height: 5vh;
    width: 15%;
    background-color: #292929;
    color: #fff;
    cursor: pointer;
   margin: 40px;
}
















 @media (max-width:480px)  { 
    /* smartphones, Android phones, landscape iPhone */ 
    .home-container {
        height: 100%;
    }
    .navbar {
        display: none;
    }
    .main-text h1 {
        text-align: center;
        font-size: 1.5rem;
        color: #fff;
    }

    .input-controller input {
        text-align: center;
        width: 100%;
        margin-bottom: 5px;
        margin-top: 5px;
        /* font-size: 1.5rem; */
    }
    .form-container { 
        display: block;
    }

    .main-text {
    /* display: flex; */
    padding: 20px;
    /* background-color: red; */
    height: 40vh;
    }

    .btn-form {
        width: 100%;
        margin-left: 0;
    }

    .row-content {
        display: block;
        overflow: hidden;
        height: 100%;
        width: 100%;
    }

    .row-content img {
        width: 100%;
        height: 50vh;
        margin: 0;
        padding: 0;
    }
    .row-content button {
        width: 100%;
    }
    .col-content {
        height: 100%;
        text-align: center;
        width: 100%;
    }
    
    .col-content h1 {
     font-size: 2rem;
     
    }
    
    .col-content li {
     margin-top: 10px;
     text-justify: distribute;
     text-align: justify;
     margin-bottom: 10px;
     font-size: 1.2rem;
     
    }

    .row-blogs {
        display: block;
        width: 100%;
    }

    .card-blog-content {
        width: 100%;
    }
    
    .cards {
        display: block;
        padding: 10px;
    }
    .card-promotion {
        width: 100%;
        padding: 0;
        margin: 0;
        margin-top: 40px;
    }

    .card-promotion button {
        height: 5vh;
        margin-bottom: 10px;
    }

    .card-promotion h2 {
        /* background-color: red; */
        width: 80%;
    }

    .promotion-button {
        height: 7vh;
        width: 40vw;
    }
 }




 .menu-bar {
    display: none;
 }

 

 @media (max-width: 920px) {
    .navbar {
        display: none;
    }
    .form-container {
        /* display: flex; */
        display: block;
        align-items: center;
        gap: 20px;
    }
    .input-controller input {
        text-align: center;
        width: 100%;
        margin-bottom: 5px;
        margin-top: 5px;
        /* font-size: 1.5rem; */
    }
    .btn-form {
        width: 100%;
        margin-left: 0;
    }
    .main-text h1 {
        text-align: center;
        font-size: 1.8rem;
        color: #fff;
    }

    .menu-bar {
        cursor: pointer;
        margin: 10px;
        padding: 10px;
        display: block;
        color: #fff;
    }

    
 } 







